@{
    ViewData["Title"] = "Home - Hiper Conta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <i>saldo</i>
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <i>sacar</i>
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <i>depositar</i>
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            </div>
        </div>
    </div>
</div>