@model decimal
@{
    ViewData["Title"] = "Home - Hiper Conta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5>Saldo</h5>
                <h3>@Model.ToString("C")</h3>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5>Última movimentação</h5>
                <h3>R$ 0,00</h3>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5>Rendimentos</h5>
                <h3>R$ 0,00</h3>
            </div>
        </div>
    </div>
</div>