@model Hiper.Academia.AspNetCore.Dtos.MovimentacoesBancarias.GetMovimentacaoBancariaDto
@{
    ViewData["Title"] = "Sacar - Hiper Conta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form method="post">
    <div class="card">
        <div class="card-body">
            <h4>Sacar</h4>
            <p>Saldo atual: R$ <span id="saldo-atual">@Model.Saldo.ToString("N2")</span></p>
            <div class="form-group">
                <label asp-for="Valor"></label>
                <input asp-for="Valor" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Sacar</button>
        </div>
    </div>
</form>