@model Hiper.Academia.AspNetCore.Web.ViewModels.Conta.Saque.SaqueViewModel
@{
    ViewData["Title"] = "Sacar - Hiper Conta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Sacar</h4>

<div>
    <div class="form-group">
        Saldo atual: R$ <span id="saldo-atual">@Model.Saldo.ToString("N2")</span>
    </div>
    <div class="form-group">
        <label>Valor</label>
        <input type="number" class="form-control" id="valor">
    </div>
    <button type="submit" class="btn btn-primary">Sacar</button>
</div>