@model Hiper.Academia.AspNetCore.Dtos.Extrato.ExtratoDto
@{
    ViewData["Title"] = "Extrato - Hiper Conta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Visualizar extrato</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Operação</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in Model.Movimentacoes)
        {
            <tr>
                <th scope="row">@movimentacao.Data.ToShortDateString()</th>
                <td>@(movimentacao.IsDeposito ? "(+)" : "(-)")</td>
                <td>@movimentacao.Valor.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>